In [90]:
import numpy as np
import pandas as pd
import math
from sklearn import linear_model

In [91]:
df = pd.read_csv('test_scores.csv')
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [92]:
x = df['math']
y = df['cs']

In [93]:
def gradient_descent(x,y):
    m_curr = 0
    b_curr = 0
    iterations = 10
    n = len(x)
    learning_rate = 0.0002

    cost_previous = 0

    for i in range(iterations):
        y_predicted = m_curr * x + b_curr
        cost = (1/n)*sum([value**2 for value in (y-y_predicted)])
        md = -(2/n)*sum(x*(y-y_predicted))
        bd = -(2/n)*sum(y-y_predicted)
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd
        if math.isclose(cost, cost_previous, rel_tol=1e-20):
            break
        cost_previous = cost
        print ("m {}, b {}, cost {}, iteration {}".format(m_curr,b_curr,cost, i))

    return m_curr, b_curr

In [94]:
m_gd, b_gd = gradient_descent(x, y)

m 1.9783600000000003, b 0.027960000000000002, cost 5199.1, iteration 0
m 0.2097504127999994, b 0.0030470367999999894, cost 4161.482445460163, iteration 1
m 1.7908456142986247, b 0.02540128695526401, cost 3332.223731926927, iteration 2
m 0.3773816366753042, b 0.005499731626422651, cost 2669.4843523162, iteration 3
m 1.6409848166378902, b 0.023373894401807954, cost 2139.826383775148, iteration 4
m 0.5113514173939648, b 0.007477430543482801, cost 1716.5264071567622, iteration 5
m 1.5212165764726313, b 0.02177112969849867, cost 1378.227200780453, iteration 6
m 0.6184191426785128, b 0.009075514323270561, cost 1107.8601808918434, iteration 7
m 1.4254981563597633, b 0.020507724625171392, cost 891.7842215178466, iteration 8
m 0.7039868810749307, b 0.010370210797388445, cost 719.097403642133, iteration 9

In [95]:
def predict_using_sklean():
    df = pd.read_csv("test_scores.csv")
    r = linear_model.LinearRegression()
    r.fit(df[['math']],df.cs)
    return r.coef_, r.intercept_

In [96]:
m_sklearn, b_sklearn = predict_using_sklean()
print("Using sklearn: Coef {} Intercept {}".format(m_sklearn,b_sklearn))

Using sklearn: Coef [1.01773624] Intercept 1.9152193111569318